/*Put global (for all pages) bootstrap theme css here!*/

html, body {
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
    height: 100%;
    overflow: visible;
}

img {
    width : 3.5em;
    padding-right: 10px;
}
#root, .App {
    position: relative;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.description {
    font-size: 1.3em;
}

/* navbar */

.navbar-container {
    max-width : 100%;
    padding : 0px;
    height: 100%;
}

.navbar-custom, .footer-custom {
    background-color: #000;
}

.navbar-brand {
    padding : 0px;
    font-size: 1.5em;
}

.navbar-brand {
    padding : 0px;
    font-size: 1.5em;
}

/* footer */

.footer-custom {
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
}

/* Landing page */

.landing_page {
    background: url("img/landing_page_img.jpg") no-repeat;
    /*position: relative;*/
    background-size: 100% 100vh;
    background-position: center;
    height: 100vh;
    margin-top: -48px;
    margin-bottom: -50px;
    max-width: 2560px;
}

.landing_div {
    position: relative;
    top: 35%;
    bottom:50%;
}

@media only Screen and (max-width: 500px) {
    img {
        width : 3em;
        padding-right: 12px;
    }
    .navbar-brand {
        font-size: 1.2em;
    }
    .landing_page {
        background: url("img/landing_page_mobile_img.jpg") no-repeat;
        background-size: 550px;
        max-width: 2560px;
        margin-top: -50px;
        max-height: 515px;
    }
    .landing_div {
        position: absolute;
        top: 110px;
    }
}

/* Register */

.register-custom {
    min-height: 500px;
    height: 100%;
}

/* login */

.login-custom {
    min-height: 450px;
    height: 100%;
}

/* Scheduler */

.scheduler {
    padding: 0 15px;
    height: 500px;
    margin-bottom: 15px;
}

.dhx_cal_container {
    position: relative;
    overflow: visible;
}

.dhx_cal_data {
    height: 400px !important;
}

.dhx_cal_light {
    width: 580px !important;
}

.dhx_cal_data {
    border-left: 1px solid #e0e0e0;
}

.dhx_cal_ltext {
    height: 150px !important;
}