/*Put global (for all pages) bootstrap theme css here!*/
.container {
    max-width : 100%;
    padding : 0px;
}

img {
    width : 3.5em;
    padding-right: 10px;
}

.navbar-brand {
    padding : 0px;
    font-size: 1.5em;
}

.navbar-custom, .footer-custom {
    background-color: #000;
}