/*Put global (for all pages) bootstrap theme css here!*/
.navbar-container {
    max-width : 100%;
    padding : 0px;
}

.navbar-custom, .footer-custom {
    background-color: #000;
}

body {
    min-height: 100%;
}

.App {
    overflow: auto;
    max-height: 1200px;
}

img {
    width : 3.5em;
    padding-right: 10px;
}

.navbar-brand {
    padding : 0px;
    font-size: 1.5em;
}

.landing_page {
    background: url("img/landing_page_img.jpg") no-repeat;
    /*position: relative;*/
    background-size: 100% 100vh;
    background-position: center;
    height: 100vh;
    margin-top: -48px;
    margin-bottom: -50px;
    max-width: 2560px;
}

.landing_div {
    position: relative;
    top: 35%;
    bottom:50%;
}

.description {
    font-size: 1.3em;
}

.footer-custom {
    position: absolute;
    clear:both;
    padding-top:20px;
    /*bottom: 0px;*/
    /*width: 100%;*/
}

.container-custom {
    overflow: auto;
    min-height: 490px;
    /*height: 100vh;*/
}

@media only Screen and (max-width: 500px) {
    img {
        width : 3em;
        padding-right: 12px;
    }
    .navbar-brand {
        font-size: 1.2em;
    }
    .landing_page {
        background: url("img/landing_page_mobile_img.jpg") no-repeat;
        background-size: 550px;
        max-width: 2560px;
        margin-top: -50px;
        max-height: 515px;
    }
    .landing_div {
        position: absolute;
        top: 110px;
    }
}

.dhx_cal_container {
    overflow: visible;
    top: -20px;
}

.dhx_cal_data {
    height: 400px !important;
}

.dhx_cal_light {
    width: 580px !important;
}

 /*for scheduler*/
.App{
    height: 650px;
}

.dhx_cal_data {
    border-left: 1px solid #e0e0e0;
}

.dhx_cal_ltext {
    height: 150px !important;
}